<h1>Review <%= @location.company.name %></h1>

<%= form_for([@location, @review]) do |f| %>
  <% if @review.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@review.errors.count, "error") %> prohibited this review from being posted</h2>
      <ul>
        <% @review.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
      <p>
      <%= f.label :rating, "Please rate this location on a scale of 1-5" %><br>
      <%= f.number_field(:rating, in: 1..5) %>
      </p>

    <p><%= f.submit 'Submit', :class => "submit-button" %></p>

  <% end %>
