<h2><%= @location.company.name %></h2>

<h3><%= @location.address %></h3>
<h4>Number of Reviews: <%= @location.reviews.count %></h4>
<h4>Rating: <%= @location.location_rating %></h4> <br>

<% @location.reviews.each do |r| %>
  <p>Review by: <%= r.user.username %></p>
  <p>Score: <%= r.rating %></p> <br>
<% end %>


<% if current_user %>
  <%= link_to "Write a review!", new_review_path %>
<% else %>
  <%= link_to "Log in to leave a review!", new_session_path %>
<% end %>
